*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

   


 nav  img{
    
    width: 68px;
    border-radius:50px;
}



.conatiner .card{

    margin: 20px 10px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid rgb(173, 233, 253);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   
    
}

.conatiner{
    display: flex;
    justify-content: center;
    margin: 12px 0;
   
}
body{
    overflow-x: hidden;
    background-color:#1c2e19;
    
}

::-webkit-scrollbar{
    width: 1px;
    border-radius: 26px;
height: 1px;
background-color: rgb(153, 152, 152);
}

nav a{
font-weight: 800;
}


.conatiner .card h4{
    font-weight: 800;
}


.conatiner .card h5{
    font-weight: 600;
}


.conatiner .card h6{
    font-weight: 600;
}


.conatiner .card a{
    font-weight: 800;
}
.loadmore{
    display: none;
}
.conatiner #gif{
    width: 86px;
    background-color: #1c2e19;
    text-align: center;
    margin: 10px 0;
}